<form [formGroup]="service.clinicForm" *ngIf="service.clinicForm" autocomplete="off" (submit)="onSubmit()">





        <div class="form-group">
          <label style="text-align: left;">Name </label>
          <input style="text-align: left;" type="text" class="form-control" formControlName="ClinicDesc" [class.is-invalid]="(submitted ||f.ClinicDesc.touched)&& f.ClinicDesc.errors">
      <div class="text-danger" *ngIf="(submitted ||f.ClinicDesc.touched)&& f.ClinicDesc.errors">
        Please enter the name
      </div>
      </div>


    <div class="form-group">
        <input type="submit" class="btn btn-success btn-block" value="Submit">
    </div>
                <div class="form-group">
                    <input type="button" (click)="onClose()" class="btn btn-danger btn-block" value="Close">
                </div>
    </form>
