 <mat-toolbar color="primary">
        <span class="example-fill-remaining-space"></span>  
      <span>   يومية خزنه   </span>
      <span class="example-fill-remaining-space"></span>  
      </mat-toolbar> 


<form [formGroup]="service.treasuryDateForm" *ngIf="service.treasuryDateForm"  autocomplete="off" (submit)="onSubmit()">
<div class="row">
    <div class="col-md-6">
        <div class="form-group">

            <label>التاريخ</label>
            <ngb-datepicker #dp [(ngModel)]="model" [ngModelOptions]="{standalone: true}" (dateSelect)="changeDate($event)"  (navigate)="date = $event.next"></ngb-datepicker>
            
         
        <div class="text-danger" *ngIf="(submitted ||f.CompareDate.touched )&& f.CompareDate.errors">
           من فضلك ادخل التاريخ
        </div>
        </div>
    </div>
</div>

<input type="submit" class="btn btn-success " value="Submit">
</form> 
