
<mat-toolbar color="primary">
    <span class="example-fill-remaining-space"></span>
  <span>branches </span>
  <span class="example-fill-remaining-space"></span>
  </mat-toolbar>

  <div class="search-div">
      <button style="float: left;" mat-raised-button  (click)="onCreateOrEdit(null)">
        new addition<mat-icon>add</mat-icon>
      </button>



      <mat-form-field  class="search-form-field" floatLabel="never">
        <input style="text-align: left" class="search" matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
        <button mat-button matSuffix mat-icon-button aria-label="Clear"*ngIf="searchKey"  (click)="onSearchClear()">
          <mat-icon>close</mat-icon>
        </button>

      </mat-form-field>
    </div>
    <div class="mat-elevation-z8">
      <div id="demo">
      <mat-table  [dataSource]="listData"  matSort>


        <ng-container matColumnDef="BranchDesc">
            <mat-header-cell dir="ltr" *matHeaderCellDef  mat-sort-header>branch name   </mat-header-cell>
            <mat-cell dir="ltr" *matCellDef="let element">{{element.BranchDesc }}</mat-cell>
          </ng-container>


          <ng-container matColumnDef="BranchAddress">
            <mat-header-cell dir="ltr" *matHeaderCellDef  mat-sort-header>Branch Address   </mat-header-cell>
            <mat-cell dir="ltr" *matCellDef="let element">{{element.BranchAddress }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="BranchPhone">
            <mat-header-cell dir="ltr" *matHeaderCellDef  mat-sort-header>  Telephone number   </mat-header-cell>
            <mat-cell dir="ltr" *matCellDef="let element">{{element.BranchPhone }}</mat-cell>
          </ng-container>





        <ng-container matColumnDef="actions">

          <mat-header-cell *matHeaderCellDef></mat-header-cell>

          <mat-cell *matCellDef="let element">
            <button  class="printView" mat-icon-button  (click)="onCreateOrEdit(element.BranchId)"><mat-icon>launch</mat-icon></button>
            <button  class="printView"  mat-icon-button  color="warn" (click)="onDelete(element.BranchId)"><mat-icon>delete</mat-icon></button>

          </mat-cell>

        </ng-container>


        <ng-container matColumnDef="anotherActions">

          <mat-header-cell *matHeaderCellDef></mat-header-cell>

          <mat-cell *matCellDef="let element">
            <button  class="btn btn-primary"   (click)="onDepartment(element.BranchId)">Existing sections</button>
          </mat-cell>

        </ng-container>


        <ng-container matColumnDef="another">

          <mat-header-cell *matHeaderCellDef></mat-header-cell>

          <mat-cell *matCellDef="let element">
            <button  class="btn btn-info"  (click)="onClinics(element.BranchId)">clinics</button>

          </mat-cell>

        </ng-container>


        <ng-container matColumnDef="anothers">

          <mat-header-cell *matHeaderCellDef></mat-header-cell>


          <mat-cell *matCellDef="let element">

 <button  class="btn btn-warning"   (click)="onSafes(element.BranchId)">storage</button>




          </mat-cell>

        </ng-container>


        <ng-container matColumnDef="loading">
          <mat-footer-cell *matFooterCellDef colspan="6">
            Loading data...
          </mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="noData">
          <mat-footer-cell *matFooterCellDef colspan="6">
            No data.
          </mat-footer-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
        <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}"></mat-footer-row>

      </mat-table>
  </div>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
    </div>




